.tax-resource_categories .resourceHub_postContent,
.single-resources .resourceHub_postContent,
.hub .resourceHub_postContent {
    font-family: $font-book;

    p,
    span {
        font-family: $font-book;
    }

    h1,
    h2,
    h3 {
        font-family: $font-med;
        color: $midnight-blue;
    }

    h1 {
        font-size: 42px;
        line-height: 50px;
        margin-bottom: 12px;
    }

    h2 {
        font-size: 34px;
        line-height: 42px;
    }

    h3 {
        font-size: 24px;
        line-height: 32px;
    }

    a {
        text-decoration: none;
    }

    section {
        float: left;
    }

    .two-col {
        float: left;
        margin-top: 50px;
        width: 100%;

        @media screen and (max-width: $tablet) {
            margin-top: 0;
        }

        .col {
            float: left;

            &:first-child {
                width: 254px;
                margin-right: 34px;

                @media screen and (max-width: $tablet) {
                    display: none;
                }
            }

            &:last-child {
                width: calc(100% - 254px - 34px);

                @media screen and (max-width: $tablet) {
                    width: 100%;
                }
            }

            &:last-child &.single {
                width: calc(100% - 450px);

                @media screen and (max-width: $tablet) {
                    width: 100%;
                }
            }
        }
    }

    .article-rating {
        display: flex;
        max-height: 19px;
    }

    .rating-star {
        position: relative;
        width: 23px;
        left: -2px;
    }

    .responsive-image-fill {
        background-size: cover;
        background-position: center;
        overflow: hidden;
        height: 0;
        padding-top: 56.25%;
    }
}

.pagination-container {
    float: right;
    font-size: 16px;
    margin: 20px 0 30px;

    a {
        color: black;
        margin: 0 2px;
        text-decoration: none;

        .pagination-btn {
            height: 16px;
            margin: 0 8px 2px;
            vertical-align: middle;
        }
    }

    span[aria-current="page"] {
        color: $fresh-blue;
        margin: 0 2px;
    }
}

.hub {
    .top-category {
        background: $midnight-blue;
    }
}
