.tax-support_categories,
.single-support,
.support {
    .masthead {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        color: #fff;

        @media screen and (max-width: $tablet) {
            background-color: $fresh-blue;
            text-align: center;
        }

        section {
            display: flex;
            align-items: center;
            min-height: 360px;

            @media screen and (max-width: $tablet) {
                display: block;
                min-height: 0;
                max-width: 500px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        h1,
        h1 span {
            font-family: $font-med;
            font-size: 50px;
            color: #fff;
            line-height: 1;
            margin-bottom: 0;

            @media screen and (max-width: $mobile) {
                font-size: 28px;
                line-height: (34 / 28);
            }
        }

        .content {
            width: (7 / 12 * 100%);
            padding-right: 40px;

            @media screen and (max-width: $tablet) {
                width: 100%;
                padding: 30px;
            }

            @media screen and (max-width: $mobile) {
                padding: 20px 0;
            }
        }

        .support-hero-image {
            text-align: center;
            width: (5 / 12 * 100%);

            @media screen and (max-width: $tablet) {
                display: none;
            }

            img {
                max-height: 277px;
            }
        }

        .st-default-search-input {
            box-sizing: border-box;
            height: auto;
            border: solid 2px rgba(255, 255, 255, 0);
            border-radius: 30px;
            width: 100%;
            max-width: 346px;
            font-size: 17px;
            padding: 10px 43px;
            line-height: 16px;
            background-image: url("~images/icons/ico_search_addons.svg");
            background-repeat: no-repeat;
            background-position: left 16px center;
            background-clip: padding-box;
            font-family: $font-book;

            &:focus {
                outline: none;
                border-color: rgba(255, 255, 255, 0.6);
            }
        }
    }
}
