.anchor-navigation {
    @media screen and (max-width: $tablet) {
        display: none;
    }
}

.anchor-links {
    font-size: 1.8rem;
    justify-content: center;
    margin-top: 50px;

    a {
        text-decoration: none;
        padding: 5px 15px;
        border-right: 1px solid $med-grey;

        &:hover {
            color: $midnight-blue;
        }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            border-right: none;
            padding-right: 0;
        }
    }

    @media screen and (max-width: $tablet) {
        display: none;
    }
}
