@font-face {
    font-family: "Franklin-Book";
    src: url("~fonts/franklin-book.eot?#iefix");
    src:
        url("~fonts/franklin-book.eot?#iefix") format("embedded-opentype"),
        url("~fonts/franklin-book.woff") format("woff"),
        url("~fonts/franklin-book.ttf") format("truetype"),
        url("~fonts/franklin-book.svg") format("svg");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "icomoon";
    src: url("~fonts/icomoon.eot?-cpf6ve");
    src:
        url("~fonts/icomoon.eot?#iefix-cpf6ve") format("embedded-opentype"),
        url("~fonts/icomoon.woff?-cpf6ve") format("woff"),
        url("~fonts/icomoon.ttf?-cpf6ve") format("truetype"),
        url("~fonts/icomoon.svg?-cpf6ve#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}
