// Newly Designed Single Testimonial
.testimonial-container {
    max-width: 1129px;
    margin: 0 auto;
    padding: 60px 7.5% 60px 5%;
    justify-content: space-between;
    border: 1px solid $med-grey;
    border-radius: 8px;
    box-shadow: 4px 4px 13px 0 rgba(6, 41, 66, 0.1);

    @media (max-width: $tablet) {
        display: block;
        padding-top: 18px;
        padding-bottom: 18px;
    }
}

.testimonial-quote-source {
    flex-basis: 610px;
    background-image: url("~images/icons/quotation-marks.svg");
    background-repeat: no-repeat;
    order: 1;
    padding-left: 5%;
    padding-top: 30px;

    @media (max-width: $tablet) {
        max-width: 100%;
    }
}

.testimonial-quote {
    @media (max-width: $tablet) {
        margin-bottom: 30px;
    }

    blockquote {
        font-size: 3rem;
        line-height: calc(44 / 30);
        border: 0;
        font-family: $font-main;
        margin: 0;
        padding: 0;

        @media (max-width: $tablet) {
            font-size: 2.2rem;
            line-height: calc(32 / 22);
        }

        &::before,
        &::after {
            content: "";
        }
    }
}

.testimonial-source {
    p {
        margin-bottom: 0;
        font-family: $font-med;
        font-size: 1.6rem;
        text-transform: uppercase;

        @media (max-width: $tablet) {
            text-align: center;
        }
    }
}

.testimonial-image {
    order: 2;
    margin-left: 25px;

    @media (max-width: $tablet) {
        margin: 0 auto;
        text-align: center;
    }

    img {
        border-radius: 50%;

        @media (max-width: $tablet) {
            width: 95px;
            height: 95px;
        }
    }
}

.compact-testimonial {
    margin-top: 35px;
    padding: 20px 6% 40px 12%;
    background-image: url("~images/icons/quotation-marks.svg");
    background-position: 35px 20px;
    background-repeat: no-repeat;
    max-width: 933px;

    @media (max-width: $tablet) {
        padding: 33px 14.5% 48px;
    }

    @media (max-width: $mobile) {
        padding-top: 75px;
    }

    .testimonial-quote-source {
        flex-basis: 561px;
        padding-top: 20px;
        padding-left: 0%;
        background-image: none;
    }

    .testimonial-quote {
        text-indent: -1rem;

        @media (max-width: $tablet) {
            text-indent: 0;
            text-align: center;
        }

        blockquote {
            font-size: 2.2rem;
            line-height: calc(32 / 22);

            &::before {
                content: "\201C";
            }

            &::after {
                content: "\201D";
            }
        }
    }

    .testimonial-image {
        margin-left: 0;
    }
}
