.hvc-details {
    font-family: $font-book;
    max-width: 660px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid $med-grey;
    border-radius: 8px;
    box-shadow: 4px 4px 0 rgba(6, 41, 66, 0.07);
    padding: 34px 7.7%;

    h3 {
        font-size: 1.8rem;
        line-height: calc(24 / 18);
        color: $midnight-blue;
        margin: 0 auto 5px;
    }

    strong {
        font-family: $font-med;
    }

    p {
        font-size: 1.4rem;
        line-height: calc(18 / 14);
        margin: 0 auto;
    }
}
