.three-col-content {
    .thirds {
        max-width: 1067px;
        margin: 2.5% auto;
        align-items: flex-start;
        justify-content: space-between;

        @media screen and (max-width: $tablet) {
            display: block;
        }
    }

    .third {
        max-width: 290px;
        width: 100%;

        @media screen and (max-width: $tablet) {
            margin: 0 auto;
        }

        h3 {
            font-size: 2.4rem;
            line-height: calc(32 / 24);
            text-align: center;
            margin-bottom: 11px;
        }

        p {
            text-align: center;
            margin-top: 0;
        }

        img {
            margin: 0 auto;
            display: block;
            width: 160px;
            height: auto;
        }
    }
}
