.hero,
.hero-bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;

    @media (max-width: $desktop-sm) {
        background-position: top right -140px;
    }

    section {
        &.zero-bottom-padding {
            padding-bottom: 0;
        }
    }

    section {
        padding: 70px 0;

        @media (max-width: $desktop-sm) {
            padding: 45px 0;
        }

        @media (max-width: $mobile) {
            padding-bottom: 20px;
        }
    }

    .content {
        width: 45%;
        margin-left: 20px;

        @media (max-width: $desktop-sm) {
            margin-left: 0;
        }
    }

    h1 {
        margin-bottom: 32px;
    }

    p {
        font-size: 1.8rem;
        line-height: 28/18;
        margin-bottom: 25px;

        br {
            content: "";
            display: block;
            margin: 1.8rem 0;
        }
    }

    .primary-cta {
        min-width: 275px;
        display: inline-block;
        vertical-align: middle;

        @media (max-width: $mobile-sm) {
            min-width: 0;
            max-width: 275px;
        }
    }

    .margin-right {
        margin-right: 20px;
    }

    .subtext {
        color: $dark-grey;
        max-width: 275px;
        margin: 10px auto 0;
    }

    .two-col {
        display: flex;
        justify-content: space-between;

        @media (max-width: $tablet) {
            display: block;
        }

        .content {
            width: 45%;

            @media (max-width: $tablet) {
                width: 100%;
            }
        }
    }

    @media (max-width: $tablet) {
        background-color: $background-blue;
        background-image: none !important;

        .content {
            text-align: center;
            width: 100%;
        }
    }
}

.hero.bg-img {
    @media (max-width: $tablet) {
        background-image: none;
    }
}

.cta-only {
    margin-left: 20px;

    @media (max-width: $desktop-sm) {
        margin-left: 0;
    }

    @media (max-width: $tablet) {
        text-align: center;
    }
}

.mobile-hero-img {
    display: none !important;

    @media (max-width: $tablet) {
        display: block !important;
        height: 350px;
        background-size: cover;
        background-position: top right;
    }

    @media (max-width: $mobile) {
        height: 275px;
    }
}
