@font-face {
    font-family: "Franklin-Gothic-URW";
    src: url("~fonts/FranklinGothicURW-Lig.eot?#iefix");
    src:
        url("~fonts/FranklinGothicURW-Lig.eot?#iefix") format("embedded-opentype"),
        url("~fonts/FranklinGothicURW-Lig.woff") format("woff"),
        url("~fonts/FranklinGothicURW-Lig.ttf") format("truetype"),
        url("~fonts/FranklinGothicURW-Lig.svg") format("svg");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Franklin-Gothic-URW-Book";
    src: url("~fonts/FranklinGothicURW-Boo.eot?#iefix");
    src:
        url("~fonts/FranklinGothicURW-Boo.eot?#iefix") format("embedded-opentype"),
        url("~fonts/FranklinGothicURW-Boo.woff") format("woff"),
        url("~fonts/FranklinGothicURW-Boo.ttf") format("truetype"),
        url("~fonts/FranklinGothicURW-Boo.svg") format("svg");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Franklin-Gothic-URW-Med";
    src: url("~fonts/FranklinGothicURW-Med.eot?#iefix");
    src:
        url("~fonts/FranklinGothicURW-Med.eot?#iefix") format("embedded-opentype"),
        url("~fonts/FranklinGothicURW-Med.woff") format("woff"),
        url("~fonts/FranklinGothicURW-Med.ttf") format("truetype"),
        url("~fonts/FranklinGothicURW-Med.svg") format("svg");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Franklin-Gothic-URW-Dem";
    src: url("~fonts/FranklinGothicURW-Dem.eot?#iefix");
    src:
        url("~fonts/FranklinGothicURW-Dem.eot?#iefix") format("embedded-opentype"),
        url("~fonts/FranklinGothicURW-Dem.woff") format("woff"),
        url("~fonts/FranklinGothicURW-Dem.ttf") format("truetype"),
        url("~fonts/FranklinGothicURW-Dem.svg") format("svg");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "FreshBooksScript-Regular";
    src: url("~fonts/FreshBooksScriptWeb-Regular.eot?#iefix");
    src:
        url("~fonts/FreshBooksScriptWeb-Regular.eot?#iefix") format("embedded-opentype"),
        url("~fonts/FreshBooksScriptWeb-Regular.woff") format("woff"),
        url("~fonts/FreshBooksScript-Regular.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Franklin-Gothic-URW-Con-Dem";
    src: url("~fonts/FranklinGotItcTEEDemCon.eot?#iefix");
    src:
        url("~fonts/FranklinGotItcTEEDemCon.eot?#iefix") format("embedded-opentype"),
        url("~fonts/FranklinGotItcTEE-DemiCond.woff") format("woff"),
        url("~fonts/FranklinGotItcTEE-DemiCond.ttf") format("truetype"),
        url("~fonts/FranklinGotItcTEE-DemiCond.svg") format("svg");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Franklin-Gothic-URW-Cond-Book";
    src: url("~fonts/FranklinGotItcTEEBooCon.eot?#iefix");
    src:
        url("~fonts/FranklinGotItcTEEBooCon.eot?#iefix") format("embedded-opentype"),
        url("~fonts/FranklinGotItcTEE-BookCond.woff") format("woff"),
        url("~fonts/FranklinGotItcTEE-BookCond.ttf") format("truetype"),
        url("~fonts/FranklinGotItcTEE-BookCond.svg") format("svg");
    font-style: normal;
    font-weight: normal;
}
