// primary palette
// freshbook blues
$fresh-blue: #0d83dd;
$midnight-blue: #062942;
$light-blue: #59a9e6;
$lighter-blue: #eff8fe;
$additional-blue: #9fcef2;
$highlight-blue: #eff8fe;
$highlight-border-blue: #b1d6f3;

// background
$background-blue: #e5f4fe;
$light-background-blue: #f7fbfe;
$background-grey: #f7f8f9;
$interface-blue: #fbfbfe;
$header-background: #f3f9fd;
$white: #fff;

// buttons
$cta-green: #85c525;
$cta-green-hover: #aad662;
$cta-ghost-border: #c5c7ce;
$cta-ghost-hover: #0d83dd;

// freshbook greys
$light-grey: #f0f2f4;
$med-grey: #c5c7ce;
$dark-grey: #8495a2;
$rule-grey: #cdd4d9;
$rule-grey-secondary: #ced5da;

// extended palette
$green: #49ad57;
$yellow: #efc100;
$light-yellow: #fcf3cc;
$blue: #0062af;
$magenta: #f74183;
$burgundy: #ae275f;
$red: #fa405c;
$purple: #000e52;
$brighter-blue: #359ce4;
$dark-blue: #0062af;

// forms
$error-state: #fa405c;
$error-state-text: #feecee;

// banners etc
$banner-grey: #f7f8f9;

// select page
$select-blue: #0060af;
$select-blue-hover: #002478;

// forms
$input-grey: #8294a0;
$error-pink: #fd3d58;
$error-pink-light: #ffd9de;

// shadow
$shadow-grey: #d8d8d8;

// Anuual Report page
$off-white: #fbfdfe;
$table-border-blue: #cde6f8;
$sky-blue: #cfe6f8;
$sun-yellow: #f5da66;

// fonts
$font-main: "Franklin-Gothic-URW", Helvetica, Arial, sans-serif;
$font-book: "Franklin-Gothic-URW-Book", Helvetica, Arial, sans-serif;
$font-med: "Franklin-Gothic-URW-Med", Helvetica, Arial, sans-serif;
$font-script: "FreshBooksScript-Regular", Helvetica, Arial, sans-serif;
$font-icon: "icomoon", Helvetica, Arial, sans-serif;
$font-dem: "Franklin-Gothic-URW-Dem", Helvetica, Arial, sans-serif;
$font-classic: "Franklin-Book", Helvetica, Arial, sans-serif;
$font-con-book: "Franklin-Gothic-URW-Cond-Book", Helvetica, Arial, sans-serif;
$font-con-dem: "Franklin-Gothic-URW-Con-Dem", Helvetica, Arial, sans-serif;
