.nav-wrapper {
    .nav-logo {
        margin-top: 0;
        margin-bottom: 0;
        padding: 20px 20px 20.5px 0;
        height: auto;
        width: auto;

        img {
            width: 252px;
        }

        @media (max-width: $tablet) {
            width: 100%;
            height: auto;
            margin-bottom: 0;
        }
    }

    .container .nav-item {
        padding-top: 2px;

        @media (max-width: $tablet) {
            display: none;
        }
    }

    @media (max-width: $tablet) {
        text-align: center;
    }
}
