.features-carousel {
    padding: 40px 0;

    h2,
    p {
        margin-left: auto;
        margin-right: auto;
        max-width: 629px;
        text-align: center;
        margin-top: 0;
    }

    h2 {
        color: $midnight-blue;
        font-size: 3.4rem;
        line-height: calc(42 / 34);
        margin-bottom: 10px;
    }

    p {
        font-family: $font-book;
        line-height: calc(26 / 18);
        margin-bottom: 0;
    }
}

.features-carousel-cta {
    text-align: center;
    margin-top: 50px;
}

.new-features-desktop {
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1110px;
    margin: 45px auto 0;

    @media (max-width: $tablet) {
        display: none;
    }
}

.new-feature,
.new-feature-detail {
    h4 {
        margin-top: 2.3rem;
        margin-bottom: 1rem;
        font-size: 1.9rem;
        line-height: calc(27 / 19);
        font-family: $font-med;
    }
}

.new-feature-details {
    max-width: 386px;
    margin: auto 0;
}

.new-feature-carousel {
    max-width: 687px;
}

.new-feature-screen {
    display: none;

    &.selected {
        display: block;
    }
}

.new-feature-detail {
    padding: 20px 40px 20px 20px;

    p,
    h4 {
        padding-left: 20px;
    }

    p:first-of-type {
        background: no-repeat 0 10%;
        background-image: url("~images/icons/select-check-mark.svg");
    }

    h4 {
        margin-top: 0;
    }

    p,
    .new-feature-url {
        max-width: 100%;
        text-align: left;
    }

    &.selected {
        background: #eaf6fe;
        position: relative;

        &::after {
            position: absolute;
            content: "";
            background: no-repeat;
            background-size: 100% 100%;
            background-image: url('data:image/svg+xml;utf8,<svg width="22" height="84" xmlns="http://www.w3.org/2000/svg"><path d="M1 .988L22.012 42 1 83.012V84H0V42.494L-.012 42 0 41.506V0h1v.988z" fill="%23EAF6FE" fill-rule="evenodd"/></svg>');
            height: 100%;
            top: 0;
            left: 100%;
            width: 22px;
        }
    }

    &:hover {
        cursor: pointer;
    }
}

.new-feature {
    text-align: center;
    margin-top: 45px;

    p,
    .new-feature-url {
        max-width: 419px;
    }
}

.new-feature > p,
.new-feature-detail > p,
.new-feature-url {
    font-size: 1.8rem;
    line-height: calc(22 / 15);
    font-family: $font-book;
}

.features-nav {
    align-items: center;
    justify-content: space-between;
    height: 23.17px;
    max-width: 136px;
    margin: 12px auto 0;
}

.arrow {
    height: 15px;
    width: 7.5px;
    fill: $med-grey;

    &.active {
        fill: $dark-grey;

        &:hover {
            fill: lighten($dark-grey, 10%);
        }
    }

    &:hover {
        fill: lighten($med-grey, 10%);
    }
}

.nav-dots {
    width: 80px;
    justify-content: space-between;
}

.nav-dot {
    width: 12px;
    height: 12px;
    fill: $med-grey;

    &:hover {
        fill: lighten($med-grey, 10%);
    }

    &.selected {
        fill: $midnight-blue;

        &:hover {
            fill: lighten($fresh-blue, 10%);
        }
    }
}
