p {
    font-family: $font-book;
    font-size: 18px;
    line-height: (26 / 18);
}

.free-form-text-content {
    h2 {
        color: $midnight-blue;
        font-family: $font-med;
        margin-top: 0;
        text-align: center;
    }

    .primary-cta {
        margin: 0 auto;
    }

    ul {
        list-style-type: disc;
        padding: initial;

        li {
            background: none;
            padding-left: 0;
            margin-left: 40px;
        }
    }
}

.faq-container h2 {
    color: $midnight-blue;
    font-family: $font-med;
}

.subtext a {
    color: $dark-grey;
}

@media screen and (max-width: $tablet) {
    .full-width-cta-outline {
        .outline-content {
            max-width: calc(100% - 100px);
        }
    }

    h2 {
        font-size: 30px !important;
    }

    h3 {
        font-size: 20px !important;
    }

    .thirds {
        .third {
            .third-container {
                .third-content {
                    margin: 0 2em 0 1.5em;

                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .three-column-content {
        width: calc(100% - 100px);
        margin: 0 auto;
        padding: 0 0 4em;
    }

    .compare {
        section {
            table {
                width: calc(100% - 80px);
                margin: 0 auto;
            }
        }
    }
}

@media screen and (max-width: $mobile) {
    .full-width-cta-outline {
        .outline-content {
            max-width: calc(100% - 10px);
        }
    }

    .three-column-content {
        width: calc(100% - 10px);
        margin: 0 auto;
        padding: 0 0 4em;
    }
}

@media screen and (min-device-width: 411px) and (max-device-height: 823px) and (orientation: landscape) {
    .thirds {
        .third {
            .third-container {
                .third-title {
                    h3 {
                        font-size: 22px;
                    }
                }

                .third-content {
                    margin: 0 2em 0 1.5em;

                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .three-column-content {
        .three-col {
            .col {
                padding: 16px;
            }
        }
    }
}
