.role-hr_editor #menu-pages {
    display: none;
}

.role-pd_editor #menu-pages {
    display: none;
}

.role-pr_editor #menu-pages {
    display: none;
}

.role-support_editor #menu-pages {
    display: none;
}
