section {
    clear: both;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

h1,
h2,
.heading-sub,
.section-heading-secondary,
.feature-link,
.benefit-title,
.feature-title {
    max-width: 94%;
    margin-left: auto;
    margin-right: auto;
}

.bng-start,
.bng-select-industry,
.bng-keyword,
.bng-options,
.bng-result {
    padding-top: 12px;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-delay: 0s;

    @media screen and (min-width: $tablet) {
        min-height: 430px;
    }

    @media screen and (max-width: $tablet) {
        padding-bottom: 50px;
    }
}

.hero-background {
    padding: 0;

    img {
        padding: 0;
        max-height: unset;
    }
}

h1.business-name-hero-title {
    margin-bottom: 0;
    font-family: $font-classic;
    font-size: 40px;
    margin-top: 0;
    line-height: 1;

    @media screen and (max-width: $tablet) {
        font-size: 37.6px;
    }
}

p {
    font-family: $font-classic;
}

.business-name-hero-subtitle {
    color: $additional-blue;
    font-size: 18px;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    line-height: 1.2;

    @media screen and (max-width: $tablet) {
        font-size: 16.92px;
    }

    @media screen and (max-width: $mobile) {
        font-size: 16.2px;
    }
}

.hero {
    z-index: 5;
}

.wrapper {
    position: relative;
}

.blog-title-link {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

// Start of the Business Name Generator - start
.bng-start {
    .business-name-hero-subtitle {
        margin-bottom: 35.75px;
    }
}

.button-primary {
    font-family: $font-classic;

    @media screen and (max-width: $tablet) {
        font-size: 18.8px;
    }
}

.business-name-generator-button {
    padding-left: 100px;
    padding-right: 100px;

    @media screen and (max-width: $mobile) {
        padding-left: 22.2125%;
        padding-right: 22.2125%;
    }
}

// Start of the Business Name Generator - end
// Industy section - start
.bng-select-industry {
    .business-name-hero-subtitle {
        margin-bottom: 20px;
    }
}

.vertical-options {
    margin: 0 auto;
    max-width: 650px;

    @media screen and (max-width: $mobile) {
        width: 100%;
    }
}

.four-industry {
    // width: calc(100% + 30px);
    margin: 0 -15px;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.industry {
    width: 21%;
    margin-left: 2%;
    margin-right: 2%;
    float: none;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    background: transparent;
    border: none;
    outline: none;

    &:hover {
        text-decoration: underline;
        cursor: pointer;

        .vertical-svg {
            .background {
                fill: white;
            }

            .icon {
                fill: $fresh-blue;
            }
        }
    }

    @media screen and (max-width: $tablet) {
        width: 46%;
        margin-left: 2%;
        margin-right: 2%;
        // float: left;
        box-sizing: border-box;
        margin-bottom: 10px;
    }
}

.industry:nth-child(3),
.industry:nth-child(4) {
    @media screen and (max-width: $tablet) {
        margin-bottom: 0;
    }
}

.vertical-icon {
    margin-bottom: 12px;
}

.industry-name {
    font-size: 20px;
    font-family: $font-script;
    margin-bottom: 0;
    color: #fff;

    @media screen and (max-width: $tablet) {
        font-size: 18.8px;
    }

    @media screen and (max-width: $mobile) {
        font-size: 17.5px;
    }
}

.vertical-svg {
    width: 125px;

    @media screen and (max-width: $mobile) {
        width: 75px;
    }
}

.background,
.icon {
    transition: 0.5s ease all;
}

.background {
    fill: $fresh-blue;
}

.border,
.icon {
    fill: white;
}

// Industy section - end
// Keyword - start
.keyword-form {
    margin-top: 34px;
}

.keyword-input,
.keyword-submit {
    width: 300px;
    float: none;
    margin-right: 0;
    font-family: $font-classic;

    @media screen and (max-width: $tablet) {
        width: 100%;
        font-size: 18.8px;
    }
}

.keyword-submit {
    @media screen and (max-width: $tablet) {
        margin-top: 5px;
    }
}

// Keyword - end
// Options - start
.return-options {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;

    @media screen and (min-width: $desktop-sm) {
        max-width: 613px;
    }
}

.hidden-name {
    display: none;
}

.name-option {
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin: 5px;
    display: inline-block;
    border: 2px solid white;
    border-radius: 4px;
    padding: 20px 32.5px;
    background: transparent;
    transition: all 0.5s ease;

    @media screen and (max-width: $tablet) {
        font-size: 18.8px;
    }

    &:hover {
        color: $fresh-blue;
        background: white;
        cursor: pointer;
    }
}

.regenerate-word {
    margin-top: 16px;
    margin-bottom: 0;
    color: $additional-blue;
    font-size: 16px;

    @media screen and (max-width: $tablet) {
        font-size: 15.04px;
    }
}

.hero-paragraph-link {
    color: $additional-blue;

    &:hover {
        color: white;
    }
}

.magic-wand {
    // z-index: -10;
    display: none;

    @media screen and (min-width: $desktop-sm) {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.hidden-wand {
    display: none;
}

// Options - end
// Result - start
.business-name-lead-off {
    margin-top: 0;
    margin-bottom: 18px;
}

.blog-lead-in {
    opacity: 0;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 18px;

    &.business-name-hero-subtitle {
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: $tablet) {
            width: 50%;
        }

        @media screen and (max-width: $tablet) {
            width: 90%;
            font-size: 16.92px;
        }
    }
}

.building-left,
.building-right {
    display: none;
    bottom: 0;
}

.look-sign {
    display: none;

    @media screen and (min-width: $desktop-sm) {
        bottom: -60px;
        right: 180px;
    }
}

.building-left,
.building-right,
.look-sign {
    @media screen and (min-width: $desktop-sm) {
        display: block;
        position: absolute;
        // z-index: -10;
        opacity: 0;
    }
}

.building-left {
    left: 0;
}

.building-right {
    right: 0;
}

.name-container {
    display: inline-block;
    opacity: 0;
    text-align: center;
}

.lights-row {
    height: 40px;
    width: 100%;
}

.tile {
    display: inline-block;
    width: 40px;
    height: 40px;
    float: left;
    border-radius: none;
    box-shadow: none;
    padding: 0;
    margin-bottom: 0;
    border: none;
    background-image: none, url("~images/business-name-generator/lights.svg");
    background-size: 160px 160px;
    background-repeat: repeat;
    background-position: 0 0;
}

.cell {
    display: table-cell;
    vertical-align: middle;
}

.lights-left,
.lights-right {
    width: 40px;
}

.center-content {
    width: 100%;
    display: table;
}

.business-name-result {
    font-size: 40px;
    padding: 40px 20px;
    color: #fff;
    font-family: $font-classic;
}

.lights-row,
.lights-col {
    @media screen and (max-width: $mobile) {
        display: none;
    }
}

.name-container {
    @media screen and (max-width: $mobile) {
        width: inherit !important;
    }
}

// Result - end
// How to Start a Small Business Section - start
.starting-small-business {
    background: white;
}

.section-heading-secondary {
    text-align: center;
    color: $fresh-blue;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 4.6875%;
    padding-top: 9.5%;

    @media screen and (min-width: $desktop-sm) {
        padding-top: 70px;
        margin-bottom: 45px;
    }

    @media screen and (max-width: $tablet) {
        font-size: 33.12px;
    }

    @media screen and (max-width: $mobile) {
        padding-top: 38.906px;
    }
}

.three-blog-posts-row {
    max-width: 990px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 9.498%;

    @media screen and (min-width: $desktop-sm) {
        padding-bottom: 75px;
    }

    @media screen and (max-width: $mobile) {
        padding-bottom: 42.727px;
    }
}

.blog-post {
    width: 29.33333333%;
    margin-left: 2%;
    margin-right: 2%;
    box-sizing: border-box;
    padding-left: 29.5px;
    padding-right: 29.5px;

    @media screen and (max-width: $tablet) {
        width: 96%;
        margin-bottom: 40px;

        img {
            margin: 0 auto;
        }
    }
}

.blog-post:last-child {
    @media screen and (max-width: $tablet) {
        margin-bottom: 0;
    }
}

.blog-image {
    max-width: 100%;
    display: block;
    margin-bottom: 25px;

    @media screen and (max-width: $mobile) {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
}

.blog-title {
    color: $fresh-blue;
    font-size: 22px;
    margin-bottom: 12px;

    @media screen and (max-width: $tablet) {
        font-size: 20.24px;
        margin-bottom: 6px;
        text-align: center;
    }

    @media screen and (max-width: $mobile) {
        text-align: left;
    }
}

.blog-excerpt {
    font-size: 16px;
    margin-bottom: 16px;

    @media screen and (max-width: $tablet) {
        font-size: 15.04px;
    }

    @media screen and (max-width: $mobile) {
        margin-bottom: 8px;
        font-size: 14.4px;
        line-height: 1.2;
    }
}

.blog-read-more {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    color: $fresh-blue;

    @media screen and (max-width: $tablet) {
        text-align: center;
    }

    @media screen and (max-width: $mobile) {
        text-align: left;
        font-size: 12.6px;
    }
}

// How to Start a Small Business Section - end
// Email Sign-Up - start
.email-signup-title {
    font-size: 40px;
    margin-top: 0;
    text-align: center;
    color: white;
    padding-top: 50px;
    margin-bottom: 10px;
    line-height: 1;
    font-family: $font-classic;

    @media screen and (max-width: $tablet) {
        font-size: 36.8px;
    }

    @media screen and (max-width: $mobile) {
        font-size: 36px;
    }
}

.email-signup-info {
    color: $additional-blue;
    margin: 0 auto 3.75%;
    max-width: 766px;
    font-size: 18px;
    line-height: 1.2;
    text-align: left;

    @media screen and (min-width: $tablet) {
        text-align: center;
    }

    @media screen and (min-width: $desktop-sm) {
        margin-bottom: 36px;
    }

    @media screen and (max-width: $tablet) {
        font-size: 16.92px;
    }

    @media screen and (max-width: $mobile) {
        font-size: 16.2px;
    }
}

.email-signup-form {
    padding-bottom: 6.772%;

    @media screen and (min-width: $desktop-sm) {
        padding-bottom: 65px;
    }

    @media screen and (max-width: $mobile) {
        padding-bottom: 30.469px;
    }
}

.email-signup-form-container {
    display: block;
    margin: 0 auto;
    width: 510px;
    max-width: 100%;

    @media screen and (max-width: $mobile) {
        width: inherit;
    }
}

.subscribe-form {
    .form-input,
    .email-submit-button {
        width: 300px;
        margin-right: 0;

        @media screen and (max-width: $mobile) {
            width: 100%;
        }
    }

    .form-input {
        float: left;
    }

    .email-submit-button {
        float: right;
    }
}

// Email Sign-Up - end
.hidden-step {
    display: none;
}
