.switch-competitor {
    h2 {
        font-size: 3rem;
        text-align: center;
        color: $midnight-blue;
        font-family: $font-med;
    }

    p {
        max-width: 660px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-family: $font-book;
    }
}
