.competitor-menu {
    h2 {
        font-size: 3rem;
        text-align: center;
        color: $midnight-blue;
        font-family: $font-med;
        margin-top: 0;

        @media screen and (max-width: $tablet) {
            margin-top: 2.49rem;
        }
    }

    ul {
        max-width: 797px;
        margin: 10px auto 50px;
        flex-wrap: wrap;
        justify-content: space-between;

        @media screen and (max-width: $mobile) {
            display: block;
            margin-bottom: 25px;
        }

        li {
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 25px;
            background: none;
            font-family: $font-book;

            @media screen and (max-width: $mobile) {
                text-align: center;
            }
        }
    }
}
