.getapp {
    section {
        .getapp-widget {
            margin-top: -35px;
            margin-bottom: 20px;
        }
    }
}

.cta-hero {
    padding-bottom: 0;

    section {
        padding: 0 0 20px;
    }
}

.hide-mobile {
    display: inline;
    font-size: 2rem;
    font-family: $font-book;
    line-height: 1;

    @media screen and (min-width: $mobile + 1) and (max-width: $tablet) {
        font-size: 2.4rem;
    }

    @media screen and (max-width: $mobile) {
        display: none;
    }
}
