.free-invoice-templates,
.invoice-templates {
    .hero-card {
        border-top: solid 1px $rule-grey;

        @media screen and (max-width: 890px) {
            padding: 0;
        }
    }

    .inner-wrap {
        display: flex;
        float: left;
        justify-content: space-around;
        padding: 40px 40px 0;
        width: 100%;

        @media screen and (max-width: 890px) {
            flex-direction: column;
        }

        @media screen and (max-width: $desktop-sm) {
            padding: 0;
        }

        .col {
            order: 2;
            padding: 46px;
            text-align: center;
            width: 48.4%;
            background: #fff;

            @media screen and (max-width: 890px) {
                padding: 46px 15px;
                width: 100%;
                border-bottom: 1px solid #cdd4d9;
                box-shadow: 0 4px 0 0 rgba(6, 41, 66, 0.1);
            }

            img {
                background-position: center;
                background-repeat: no-repeat;
                display: block;
                margin: 6px auto 0;
                max-height: 450px;
                padding: 20px 75px;
            }
        }

        .card {
            order: 1;
            width: 48.4%;
            border-radius: 8px;
            border: solid 1px $rule-grey;
            box-shadow: 4px 4px 0 0 rgba(6, 41, 66, 0.1);
            text-align: center;
            padding-bottom: 42px;

            @media screen and (max-width: 890px) {
                float: none;
                width: 100%;
                border-radius: 0;
                border: none;
                border-bottom: solid 1px $rule-grey;
            }

            .cta-subtext {
                padding-top: 5px;
                position: relative;

                .img-subtext {
                    position: absolute;
                    width: 100px;
                    height: auto;
                    top: -5px;
                    right: -100px;

                    @media screen and (max-width: $desktop-lrg) {
                        display: none;
                    }

                    @media screen and (max-width: 890px) {
                        display: block;
                    }

                    @media screen and (max-width: $tablet) {
                        width: 90px;
                        right: -90px;
                        top: 0;
                    }

                    @media screen and (max-width: $mobile) {
                        display: none;
                    }
                }
            }

            .content {
                padding: 46px;
                margin-bottom: 0;

                .cta-arrow {
                    float: left;
                    left: -50px;
                    position: absolute;
                    top: -20px;

                    @media screen and (max-width: 320px) {
                        display: none;
                    }
                }

                @media screen and (max-width: 890px) {
                    padding: 46px 15px;
                }
            }

            img {
                display: block;
                margin: 0 auto;
            }
        }
    }

    .main-content,
    .template-gallery-alt,
    .profession-list {
        p,
        span {
            font-family: $font-book;

            &.secondary {
                color: $fresh-blue;
                font-weight: bold;
                font-size: 16px;
            }
        }

        p {
            &.secondary-link {
                color: $dark-grey;
                font-size: 16px;
                text-decoration: none;
                position: relative;
                top: 2.75em;
                cursor: default;
            }
        }

        h1,
        h2,
        h4,
        h5,
        h6 {
            font-family: $font-med;
            font-weight: normal;
            color: $midnight-blue;
            font-size: 40px;
            line-height: 50px;
            margin: 0 0 16px;

            @media screen and (max-width: $tablet) {
                font-size: 30px;
            }
        }

        h3 {
            font-family: $font-med;
            font-size: 30px;
            color: $midnight-blue;
            line-height: 50px;
        }

        .category-profession-list {
            h3 {
                color: $fresh-blue;
                font-family: $font-book;
            }
        }

        .btn {
            border-radius: 5px;
            display: inline-block;
            text-decoration: none;
        }

        .btn-med {
            font-size: 20px;
            line-height: 20px;
            padding: 14px 51px 17px;
        }

        .btn-primary {
            background: $cta-green;
            color: #fff;

            &:hover {
                background: $cta-green-hover;
            }
        }

        .btn-neutral {
            background: $dark-grey;
            color: #fff;

            &:hover {
                background: $rule-grey;
            }
        }
    }
}

.free-form-text-content {
    h2 {
        color: $midnight-blue;
        font-family: $font-med;
        margin-top: 0;
        text-align: center;
    }

    .primary-cta {
        margin: 0 auto;
    }

    ul {
        list-style-type: disc;
        padding: initial;

        li {
            background: none;
            padding-left: 0;
            margin-left: 40px;
        }
    }
}

.faq-container h2 {
    color: $midnight-blue;
    font-family: $font-med;
}

.subtext a {
    color: $dark-grey;
}
