.overview-fact-data {
    .fact-container {
        align-items: stretch;
        border: 1px solid $med-grey;
        border-radius: 5px;
        box-shadow: 4px 4px 0 rgba(6, 41, 66, 0.07);

        @media (max-width: $tablet) {
            display: block;
            width: 80%;
            margin: 0 auto;
        }

        @media (max-width: $mobile) {
            width: 100%;
        }
    }

    .fact-box {
        text-align: center;
        padding: 50px;
        width: 33.33%;

        @media (max-width: $tablet) {
            width: 100%;
        }

        &:first-child {
            border-right: 1px solid $med-grey;

            @media (max-width: $tablet) {
                border-right: none;
                border-bottom: 1px solid $med-grey;
            }
        }

        &:last-child {
            border-left: 1px solid $med-grey;

            @media (max-width: $tablet) {
                border-left: none;
                border-top: 1px solid $med-grey;
            }
        }

        span {
            font-family: $font-main;
            display: block;
            font-size: 1.8rem;
            line-height: calc(26 / 18);
            color: $dark-grey;

            &.data {
                color: $fresh-blue;
                font-size: 6rem;
                line-height: calc(60 / 65);
            }
        }
    }
}
